<!DOCTYPE html>
<html>

<head>
    <title>Conkr!</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/sandal-chest/sandal-chest.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body id='main-bod' ng-app='conkr' ng-controller='conkrcon' ng-cloak>
    <button class='btn btn-success chat-butt' ng-click='showChat = !showChat'>&#128172;</button>
    <button class='btn btn-primary men-butt' ng-click='gameMenu=!gameMenu' ng-disabled='!map'>menu</button>
    <button class='btn btn-danger log-butt' ng-click='logout()'>logout</button>
    <div class='chat-win' ng-show='showChat'>
        <div ng-include="'chat.html'" style='width:100%;height:100%;'></div>
    </div>
    <div class='panel panel-primary col-md-4 col-md-offset-4' ng-show='gameMenu'>
        <div class='panel-heading'>
            <div class='tab tab-left' ng-class="{'tab-inact':gameSettingsPanel!=0}" ng-click='gameSettingsPanel=0'>
                <h3>New Game</h3></div>
            <div class='tab' ng-class="{'tab-inact':gameSettingsPanel!=1}" ng-click='gameSettingsPanel=1'>
                <h3>Load Game</h3></div>
            <div class='tab tab-right' ng-class="{'tab-inact':gameSettingsPanel!=2}" ng-click='gameSettingsPanel=2'>
                <h3>My Games</h3></div>
        </div>
        <div class='panel-body' ng-show='gameSettingsPanel==0'>
            <div class='col-md-12 no-room'>
                <div class='new-tab n-t-left' ng-class="{'tab-inact':!newNew}" ng-click='toggleNewMode()'>Make new map</div>
                <div class='new-tab n-t-right' ng-class="{'tab-inact':newNew}" ng-click='toggleNewMode()'>Load map</div>
            </div>
            <hr>
            <div ng-show='newNew' class='panel panel-info panel-body'>
                <div class='row form-group'>
                    <div class='col-md-3'>
                        <label for='numCouns'>Average number of countries: </label>
                    </div>
                    <div class='col-md-7'>
                        <input type="number" name='numCouns' ng-model='numCountries'>
                    </div>
                    <div class='col-md-2'>
                        <button class='btn btn-sm btn-danger' ng-click='avgCounInfo()'>?</button>
                    </div>
                </div>
                <hr/>
                <div class='row form-group'>
                    <div class='col-md-3'>
                        <label for='smoothing'>Smoothing:</label>
                    </div>
                    <div class='col-md-7'>
                        <input type="range" min=0 max=100 name='smoothing' ng-model='smoothing'>
                    </div>
                    <div class='col-md-2'>
                        <button class='btn btn-sm btn-danger' ng-click='smoothInfo()'>?</button>
                    </div>
                </div>
                <hr/>
                <div class='row form-group col-md-4 col-md-offset-4'>
                    <button ng-click='newMap()' class='btn btn-primary'>Do it!</button>
                </div>
            </div>
            <div ng-show='!newNew' class='panel panel-info panel-body'>
                <table class='table table-striped load-map-table'>
                    <thead>
                        <tr class='info'>
                            <th>Map Id</th>
                            <th>Countries</th>
                            <th>Number of Countries</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-show='potentialMaps.length===0'>
                                No maps yet!
                            </td>
                        </tr>
                        <tr ng-repeat='m in potentialMaps'>
                            <td>{{m.id}}</td>
                            <td>{{m.mapData.countryNames.join(', ')}}</td>
                            <td>{{m.mapData.countryNames.length}}</td>
                            <td>
                                <button class='btn btn-primary' ng-click='pickMap(m.mapData,m.id)'>Load</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class='panel-body' ng-show='gameSettingsPanel==1'>
            <h4>Load a game:</h4>
            <table class='table table-striped'>
                <thead>
                    <tr>
                        <th>Game ID</th>
                        <th>Map ID</th>
                        <th>Players</th>
                        <th>Joinable</th>
                        <th>Join</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='p in allGames'>
                        <td>{{p.gameId}}</td>
                        <td>{{p.mapId}}</td>
                        <td>{{p.players.join(', ')}}</td>
                        <td><span ng-if='p.inPlay'>no</span><span ng-if='!p.inPlay'>yes</span></td>
                        <td>
                            <button class='btn btn-success' ng-disabled='p.inPlay' ng-click='joinGame(p.gameId)'>Join Game</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='panel-body' ng-show='gameSettingsPanel==2'>
            <h4>My Games:</h4>
            <code>this'll be games that you've created (and can thus 'start')</code>
            <table class='table table-striped'>
                <thead>
                    <tr>
                        <th>Game ID</th>
                        <th>Map ID</th>
                        <th>Players</th>
                        <th>Start</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='g in allGames' ng-show='p.creator=user && !inPlay'>
                        <td>{{g.gameId}}</td>
                        <td>{{g.mapId}}</td>
                        <td>{{g.players.join(', ')}}</td>
                        <td>
                            <button class='btn btn-success' ng-disabled='g.inPlay' ng-click='startGame(g.gameId)'>Start Game</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <canvas width="{{win.w}}" height="{{win.h}}" ng-show='!gameMenu'></canvas>
    <script src='https://cdn.socket.io/socket.io-1.2.0.js'></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/sandal-chest/sandal-chest.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/socket.io-client/dist/socket.io.js"></script>
    <script src="./js/all.js"></script>
</body>

</html>
